<div class="card my-5">
  <div  class="card-body d-flex flex-column" style="font-size: 22px;">
      <h1>Item number:{{item.id}} </h1>

      <label class="">Name: {{item.name}}</label>

      <label>Inventory number: {{item.inventory_no}}</label>

      <label>Amount: {{item.amount}}</label>

    <div class=" d-flex   ">
      <input type="text"  [(ngModel)]="inc"
      class="form-control"
      id="inc"
      name="inc"
      placeholder="Enter amount for increase"
      value={{inc}}
      >
      <button   (click)="onIncrease(inc)" class="btn btn-secondary"  >Increase</button>

      <label class="mr-3 ml-3">OR</label>

      <input
      [(ngModel)]="dec"
        type="text"
          class="form-control "
          id="dec"
          name="dec"
          placeholder="Enter amount for Decrease "
         >
      <button  (click)="onDecrease(dec)"  class="btn btn-secondary" >Decrease</button>
    </div>

  </div>
</div>
